{% extends "base.html" %}
{% block content %}
    {% for date, post_group in posts.items %}
        <div class="daygroup">
            <h2>{{ date }}</h2>

            {% for post in post_group %}
            <div class="channelgroup">
                <h3><a href="{{ post.blog.feed_url }}" title="{{ post.blog.title }}">{{ post.blog.title }}</a></h3>
                <div class="entrygroup" id="{{ post.link }}" lang="es">
                    <h4><a href="{{ post.link }}">{{ post.title }}</a></h4>
                    <div class="entry">
                        <div class="content">
                            {{ post.content|safe }}
                        </div>
                        <p class="date">
                        <a href="{{ post.link }}">{{ post.created_at }} by {{ post.blog.title }}</a>
                        </p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% endfor %}
{% endblock %}

{% block sidebar %}
        <div class="sidebar">
            <p>
            <h2>Mas Info:</h2>
            <ul>
                <li>Desarrollado por: <a href="http://www.igorgue.info/">Igor Guerrero</a></li>
            </ul>
            </p>

            <h2>Blogs</h2>
            <ul>
                {% for blog in blogs %}
                <li>
                <a href="{{ blog.feed_url }}" title="subscribe"><img src="images/feed-icon-10x10.png" alt="(feed)"></a> <a href="{{ blog.feed_url }}" class="message">{{ blog.title }}</a>
                </li>
                {% endfor %}
            </ul>

        </div>
{% endblock %}
